body {
  height: 100%;
  font-size: 18px;
  line-height: 32px;
  font-family: Open Sans, sans-serif;
  color: @grayblue;
  font-style: normal;
  background-color: @bg-lightgray;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}

.page-header,
.page-main,
.page-footer {
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}
