.contacts {

  min-height: 612px;
  background-color: @white;

  &__wrapper {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }

  &__list {
    padding: 0;
  }

  &__header {
    font-size: @font-size__contheader;
    font-weight: @font-weight__light;
    color: @grayblue;
  }

  &__text {
    font-size: @font-size__header;
    font-weight: @font-weight__header;
    color: @grayblue;
  }

  &__number,
  &__mail,
  &__address {
    font-size: @font-size__contacts;
    font-weight: @font-weight__light;
    color: @red;
  }



}
