.contacts {

  min-height: 612px;
  background-color: @white;

  &__wrapper {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }

  &__list {
    .list-unstile()
  }

  &__header {
    font-size: @font-size__contheader;
    font-weight: @font-weight__light;
    color: @grayblue;
  }

  &__text {
    font-size: @font-size__header;
    font-weight: @font-weight__header;
    color: @grayblue;
  }

  &__number,
  &__mail,
  &__address {
    font-size: @font-size__contacts;
    font-weight: @font-weight__light;
    color: @red;
  }

}

@media (min-width: @tablet-width) {
  .contacts {


    &__wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 660px;
    }

    &__header {
      width: 90%;
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 660px;
    }

    &__item {
      width: 40%;
    }

  }

}

@media (min-width: @desktop-width) {
  .contacts {


    &__wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 940px;
    }

    &__header {
      width: 90%;
      font-size: 50px;
      line-height: 60px;
    }

    &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;
      width: 940px;
    }

    &__item {
      width: 30%;
    }

    &__item3 {
      order: -1;
    }

    &__item1 {
      order: -2;
    }

  }

}
