.inform {
  width: 320px;
  min-height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: @bg-lightgray;

  &__list {
    padding: 0;
  }

}

@media (min-width: @tablet-width) {
  .inform {
    width: 660px;
    padding: 0 20px;

    &__list {
      display: flex;
      justify-content: space-around;
      .list-unstile()
    }

  }


}
