.intro-btn {
  margin-bottom: 40px;
  padding-top: 505px;
  font-weight: @font-weight__nav;


  &__link {
    padding: 12px 40px;
    color: @white;
    border: 2px solid @white;
    border-radius: 30px;
  }

  &__link:hover {
    color: @red;
    background-color: @white;
  }

  &__link:active {
    color: fade(@red, 30%);
  }
}



@media (min-width: @tablet-width) {

  .intro-btn {
    margin-bottom: 40px;
    padding-top: 15px;

    &__link {
      padding: 12px 50px;
    }

  }
}



@media (min-width: @desktop-width) {

  .intro-btn {
    margin-bottom: 67px;

    &__link {
      padding: 12px 35px;
      font-size: 21px;
    }

  }
}
