.intro {
  width: 100%;
  margin-top: -70px;
  background-color: @darkblue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: auto;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &__wrapper {
    width: 320px;
    min-height: 466px;
    margin: 0 auto;
    text-align: center;

    &--img {
      background-image: url("../img/iphone-hand-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: top 180px left 0;
    }
  }

  &__header-index {
    display: none;
    font-size: 40px;
    line-height: 48px;
    font-weight: @font-weight__light;
    color: @white;
  }

  &__link {
    margin: 0;
  }

  &__market {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  &__text {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: @font-size__base;
    font-weight: @font-weight__light;
    line-height: 24px;
    color: @white;
  }

  &__photo {
    min-height: 238px;
  }

  &__header-photo,
  &__header-form {
    width: 280px;
    min-height: 100px;
    margin: 0 auto;
    padding-top: 100px;
    font-size: @font-size__intro;
    font-weight: @font-weight__light;
    line-height: 29px;
    color: @white;
  }

}

@media (min-width: @tablet-width) {
  .intro {
    width: auto;
    margin-top: -90px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto;
    background-position: center 7%;


    &__wrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      width: 660px;
      min-height: 708px;
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;

      &--img {
        background-image: url("../img/iphone-hand-tablet@1x.png");
        background-repeat: no-repeat;
        background-position: bottom 0 right -20px;
      }
    }

    &__link {
      padding-bottom: 10px;
    }

    &__text {
      padding-top: 20px;
      font-size: 18px;
      line-height: 24px;
    }

    &__promo-block {
      width: 300px;
      margin-left: 20px;
    }

    &__header-index {
      display: block;
      margin-top: 180px;
      margin-bottom: 30px;
    }

    &__photo {
      min-height: 420px;
      text-align: center;
    }

    &__header-photo,
    &__header-form {
      width: 550px;
      margin: 0 auto;
      padding-top: 160px;
      font-size: 50px;
      line-height: 60px;
    }

  }

}

@media (min-width: @desktop-width) {
  .intro {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: -310px;
    padding: 0;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: auto;
    background-position: center 2%;

    &__index {
      min-height: 850px;
    }


    &__wrapper {
      width: 960px;
      min-height: 855px;
      margin: 0 auto;
      margin-top: 200px;
      padding: 0;

      &--img {
        background-image: url("../img/iphone-hand-desktop@1x.png");
        background-repeat: no-repeat;
        background-position: bottom 0 right -115px;
      }
    }

    &__promo-block {
      width: 315px;
      margin: 0;
    }

    &__photo {
      min-height: 395px;
      margin-top: -110px;
    }

    &__header-photo {
      padding-top: 172px;
    }

    &__header-form {
      width: 820px;
      margin: 0 auto;
      padding-top: 170px;
      font-size: 50px;
      line-height: 60px;
      font-weight: @font-weight__light;
      color: @white;
    }

    &__header-index {
      display: block;
      margin-top: 220px;
      margin-bottom: 45px;
      font-size: 50px;
      line-height: 60px;
    }

    &__text {
      padding-top: 37px;
      font-size: 18px;
      line-height: 24px;
    }


  }


}
