.main-nav {
  position: relative;
  width: auto;
  min-height: 70px;
  margin: 0 auto;
  padding: 0;

  &__list {
    min-height: 70px;
  }

  &__logo {
    min-height: 70px;
    border-top: none;
    text-align: left;

  }

  &__link-logo img {
    margin-top: 30px;
    margin-left: 20px;

  }

  &__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  background-color: transparent;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: transparent;
  }

  &__wrapper {
    min-height: 80px;
  }

  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 30px;
  left: 0px;

  width: 50px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 20px;
  right: 17px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }

}

@media (max-width: @mobile-width-only) {

  .main-nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;

    text-align: center;
  }

}


@media (min-width: @tablet-width) {
  .main-nav {
    width: 660px;

    &__wrapper {
      min-height: 70px;
    }

  }

}

@media (min-width: @desktop-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 960px;
    min-height: 110px;

    &__wrapper {
      width: 70%;
      min-height: 110px;
    }

    &__list {
      min-height: 110px;
    }

    &__toggle {
      display: none;
    }

    &--opened {
      top: 0;
      right: 0;

      &::before,
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }


  }
}
