.main-nav {
  position: relative;
  width: 320px;
  min-height: 328px;
  margin: 0 auto;
  padding: 0;

  &__toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;

    display: block;
    width: 28px;
    height: 28px;
    font-size: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: auto;
    padding: 0;
  }

  &__wrapper {
    min-height: 328px;
  }

  &--opened {
    top: 0;
    right: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 28px;
      right: 0;
      width: 36px;
      height: 4px;
      background-color: @white;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
      box-shadow: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 660px;

    &__wrapper {
    min-height: 365px;
  }

  }

}
