.main-nav {
  width: 320px;
  margin: 0 auto;

  &__toggle {
    font-size: 0;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin-left: auto;
    padding: 0;
  }

  &__wrapper {
    min-height: 256px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    .list-unstile();
  }

}
