.merit-list {
  padding-top: 20px;
  padding-bottom: 8px;


  &__header {
    font-size: @font-size__header;
    font-weight: @font-weight__header;
    line-height: 10px;
    color: @black;
  }

  &__text {
    width: 270px;
    margin: 0 auto;
    padding-top: 7px;
    font-size: @font-size__base;
    font-weight: @font-weight__light;
    line-height: 24px;
    color: @grayblue;
  }
}
