.merit-list {
  padding-top: 20px;
  padding-bottom: 8px;


  &__header {
    font-size: @font-size__header;
    font-weight: @font-weight__header;
    line-height: 10px;
    color: @black;
  }

  &__text {
    width: 270px;
    margin: 0 auto;
    padding-top: 7px;
    font-size: @font-size__base;
    font-weight: @font-weight__light;
    line-height: 24px;
    color: @grayblue;
  }
}

@media (min-width: @tablet-width) {
  .merit-list {
    padding-bottom: 12px;


    &__text {
      width: 310px;
      margin: 0;
    }
  }

}


@media (min-width: @desktop-width) {

  .merit-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;


    &--middl {
      margin-left: 70px;
      margin-right: 70px;
    }


    &__header {
      width: 225px;
      height: auto;
      font-size: 30px;
      line-height: 30px;
    }

    &__text {
      width: 230px;
      padding-top: 25px;
      font-size: 18px;
      line-height: 30px;
    }
  }

}
