.page-footer {
  width: 320px;
  min-height: 285px;
  margin: 0 auto;
  text-align: center;
  background-color: @white;

  &--index {
    display: none;
  }

  &__wrapper {
    min-height: 125px;
  }

}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 660px;
    min-height: 120px;


    &__wrapper {
      min-height: 120px;
      display: flex;
      justify-content: space-between;
    }
  }
}

  @media (min-width: @desktop-width) {
    .page-footer {
    width: 960px;
    min-height: 120px;


  }

}
