.photo {
  width: auto;
  min-height: 1490px;
  margin: 0 auto;
  text-align: center;
  background-color: @bg-lightgray;

  &__header,
  &__text {
    font-size: @font-size__base;
    font-weight: @font-weight__regular;
    color: @grayblue;
  }

  &__name {
    font-size: @font-size__base;
    font-weight: @font-weight__header;
    color: @grayblue;
  }

  &__name span {
    font-size: 12px;
    font-weight: @font-weight__light;
    text-transform: uppercase;
    color: @grayblue;
  }

  &__list {
    .list-unstile();
  }

  &__text {

  }

  &__like {
    font-size: @font-size__like;
    font-weight: @font-weight__light;
    text-transform: uppercase;
    color: @red;
  }


}

@media (min-width: @tablet-width) {
  .photo {
    width: 660px;
    min-height: 1200px;

    &__header {
      padding: 50px 0;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .list-unstile();

    }


    &__image--full {
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo {
    width: 960px;
    min-height: 1200px;

    &__header {
      padding: 50px 0;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .list-unstile();

    }

    &__item-desk {
      width: 300px;
    }
  }
}
