.price {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: @bg-lightgray;
}

.price__wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 20px;
  width: 100%;
  overflow-x: hidden;
  background-image: url(../../img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}


@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}
