.review {
  width: auto;
  min-height: 355px;
  margin: 0 auto;
  text-align: center;
  background-color: @white;

  &__list {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media (min-width: @tablet-width) {
  .review {
    width: 620px;
    padding: 0 20px;
  }

}

@media (min-width: @desktop-width) {
  .review {
    width: 940px;


  }

}
