.site-list {
  display: block;
  text-align: center;
  min-height: 10px;
  .list-unstile();
}

.site-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 62px;
  font-size: @font-size__nav;
  font-weight: @font-weight__nav;
  text-transform: uppercase;
  background-color: @grayblue;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.site-list__link {
  color: @white;

  &:hover {
    color: @red;
  }

  &:active {
    opacity: 0.3;
  }

}

@media (min-width: @tablet-width) {
  .site-list {
    width: auto;
    min-height: 80px;

    &__item {
      width: 100%;
      height: 62px;
    }

  }

}

@media (min-width: @desktop-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 110px;
    text-align: right;


    &__item {
      width: auto;
      font-weight: @font-weight__regular;
      text-transform: none;
      background-color: transparent;
      border-top: none;
      border-bottom: none;
    }

    &__link {
      width: auto;
      margin-left: 70px;
      margin-right: 10px
    }

    &__link1 {
      margin-left: 0px;
    }

  }

  .site-list__item--activ a {
    position: relative;

    &::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: @white;
    }

    &:hover::after  {
      background-color: @red;
    }
}

}
