.slogan {
  padding-top: 40px;
  background-color: @white;

  &__text {
    margin: 0 auto;
    width: 230px;
    padding-bottom: 30px;
    font-size: @font-size__slogan;
    font-weight: @font-weight__light;
    line-height: 29px;
    color: @grayblue;
  }
}


@media (min-width: @tablet-width) {
  .slogan {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 50px;
    box-sizing: border-box;


    &__text {
      width: 620px;
      padding-top: 12px;
      padding-bottom: 0px;
      font-size: 40px;
      line-height: 45px;
    }

    &__text-resize {
      width: 500px;
      padding-top: 5px;
    }
  }
}

@media (min-width: @desktop-width) {
  .slogan {
    width: 920px;
    margin: 0 auto;

    &__text {
      width: 800px;
      padding-top: 25px;
      font-size: 50px;
      line-height: 60px;
    }

    &__text-resize {
      width: 500px;
      padding-top: 0;
    }
  }

}
