.tool {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 280px;
  min-height: 50px;
  margin: 0 auto;
  margin-top: 40px;

  &__edit {
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 0;
    border: 0;
    background-color: @bg-lightgray;
  }

  &__crop {
    width: 55px;
    height: 55px;

    svg {
      width: 100%;
      fill: #b5b9be;
    }

    &--activ {
      svg {
        fill: @red;
      }
    }
  }

  &__fill {
    width: 50px;
    height: 50px;

    svg {
      width: 100%;
      fill: #b5b9be;
    }

  }

  &__contrast {
    width: 50px;
    height: 50px;

    svg {
      width: 32px;
      height: 32px;
      fill: #b5b9be;
    }

  }


}
