.upload {
  height: 930px;
  background-color: @bg-lightgray;


  &__text {
    font-size: @font-size__base;
    font-weight: @font-weight__regular;
    color: @grayblue;
  }

  &__form {
    height: 350px;
    background-color: @white;
  }

}
